.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: 'hidden';
}

.titleSection {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.postSection {
  width: 100%;
  height: calc(100% - 3.5rem);
  overflow-x: hidden;
  overflow-y: auto;
}
