.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-style: solid;
  border-image: linear-gradient(to right, #743ad5, #d53a9d);
  border-image-slice: 1;
  border-image-width: 0 0 0.125rem 0;
}

.headerLeftBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #ffffff;
}

.companyLogoContainer {
  position: relative;
  width: 3rem;
  height: 3rem;
}
