// Breakpoints
$breakpoint-xl: 120rem;
$breakpoint-lg: 90rem;
$breakpoint-md: 64rem;
$breakpoint-sm: 48rem;
$breakpoint-xs: 0;

// Colors
$black: #000000;
$white: #ffffff;
$success: #00c851;
$successHover: #007e33;
$info: #33b5e5;
$infoHover: #0099cc;
$warning: #ffbb33;
$warningHover: #ff8800;
$error: #ff4444;
$errorHover: #cc0000;
$theme1: #b455a2;
$theme1Light1: #cb8ac5;
$theme1Light2: #e3bfdf;
$theme1Thick1: #833a7b;
$theme1Thick2: #4e2346;
$theme2: #483a83;
$theme2Light1: #6856b4;
$theme2Light2: #978bcc;
$theme2Thick1: #2b234e;
$theme2Thick2: #0e0b19;

@function blackAlpha($alpha) {
  @return rgba(0, 0, 0, $alpha);
}

@function whiteAlpha($alpha) {
  @return rgba(255, 255, 255, $alpha);
}
