* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

#global-layout {
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
}

form {
  width: 100% !important;
}

.clickable {
  cursor: pointer;
}

.scrollableX {
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollableY {
  overflow-x: hidden;
  overflow-y: auto;
}
