.container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: 'hidden';
}

.titleSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.75rem;
  margin-bottom: 1rem;
}

.linkToPostCreate {
  text-decoration: none;
  color: #ffffff;
  background-color: #0070f3;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.linkToPostCreate:hover {
  background-color: #0053b3;
}

.postSection {
  width: 100%;
  height: calc(100% - 3.5rem);
  overflow-x: hidden;
  overflow-y: auto;
}
