@import '@/_mixin.scss';
@import '@/_variable.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 0.0625rem;
  margin: 3rem 0;
  background-color: var(--divider-color);
}
